body,
html {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 1.75rem;
  margin: 1rem 0;
}

.board {
  justify-content: center;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 1px solid black;
}

.square {
  border: 1px solid black;
}

.shaded {
  background-color: rgba(0, 0, 0, 0.2);
}

.selector-form {
  display: flex;
  gap: 2rem;
}
